{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}


{% block title %}
     Pagos
{% endblock %}


{% block body %}
      <div class="container">
            <div class="row">
                  <div class="col-12">
                        <h1 class="text-center tituloFormulario mb-3">Pagos</h1>
                  </div>
            </div>
      </div>

      <div class="container mt-3 formulario">
            <div class="row">
                  <div class="col-6">
                        {{form_start(form)}}
                        {{form_label(form.fechaEstimada,'Fecha estimada')}}
                        {{form_widget(form.fechaEstimada)}}
                        {{form_errors(form.fechaEstimada)}}
                  </div>
                  <div class="col-6">
                        {{form_label(form.fechaPago,'Fecha pago')}}
                        {{form_widget(form.fechaPago)}}
                        {{form_errors(form.fechaPago)}}
                  </div>
            </div>
            <div class="row mt-4 mb-4">
                  <div class="col-6">
                        {{form_label(form.cantidad,'Cantidad')}}
                        {{form_widget(form.cantidad)}}
                        {{form_errors(form.cantidad)}}
                  </div>
            </div>
            {{form_end(form)}}
            <button class="btn btn-primary">
                  <a class="text-white" href="{{(path('menu',{'proy':proy, 'estado':"finalizar"}))}}">Finalizar Proyecto</a>
            </button>
      </div>
{% endblock %}