{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}


{% block title %}
      Población vulnerable
{% endblock %}


{% block body %}
      <div class="container">
            <div class="row">
                  <div class="col-12">
                        <h1 class="text-center tituloFormulario mb-3">Población Vulnerable</h1>
                  </div>
            </div>
      </div>

      <div class="container mt-3">
            <div class="row d-flex justify-content-center">
                  <div class="col-4">
                        {{form_start(form)}}
                        {{form_label(form.exclusionSocial,'Exclusión social')}}
                        {{form_widget(form.exclusionSocial)}}
                        {{form_errors(form.exclusionSocial)}}
                  </div>
                  <div class="col-4">
                        {{form_label(form.mayores,'Mayores')}}
                        {{form_widget(form.mayores)}}
                        {{form_errors(form.mayores)}}
                  </div>
            </div>
            <div class="row mt-4 d-flex justify-content-center">
                  <div class="col-4">
                        {{form_label(form.mujeres,'Mujeres')}}
                        {{form_widget(form.mujeres)}}
                        {{form_errors(form.mujeres)}}
                  </div>
                  <div class="col-4">
                        {{form_label(form.ninyos,'Niños')}}
                        {{form_widget(form.ninyos)}}
                        {{form_errors(form.ninyos)}}
                  </div>
            </div>
            <div class="row mt-4 d-flex justify-content-center">
                  <div class="col-4">
                        {{form_label(form.jovenes,'Jóvenes')}}
                        {{form_widget(form.jovenes)}}
                        {{form_errors(form.jovenes)}}
                  </div>
                  <div class="col-4">
                        {{form_label(form.migrantes,'Migrantes')}}
                        {{form_widget(form.migrantes)}}
                        {{form_errors(form.migrantes)}}
                  </div>
            </div>
            <div class="row mt-4 mb-4">
                  <div class="col-4 offset-2">
                        {{form_label(form.otros,'Otros')}}
                        {{form_widget(form.otros)}}
                        {{form_errors(form.otros)}}
                  </div>
            </div>
            <div class="offset-2">{{form_end(form)}}</div>

      </div>
{% endblock %}