{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12">

                <h1 class="lead offset-1 mb-5">{{ proyectos[0].tipoProyecto }}</h1>

                <!--Este campo será una variable-->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab" href="#home" id="home-tab" role="tab">Equipo</a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="profile" aria-selected="false" class="nav-link" data-toggle="tab" href="#profile" id="profile-tab" role="tab">Identificación</a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="contact_1" aria-selected="false" class="nav-link" data-toggle="tab" href="#contact_1" id="contact-tab" role="tab">Seguimiento Convocatorias</a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="contact_2" aria-selected="false" class="nav-link" data-toggle="tab" href="#contact_2" id="contact-tab" role="tab">Seguimiento Técnico</a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="contact_3" aria-selected="false" class="nav-link" data-toggle="tab" href="#contact_3" id="contact-tab" role="tab">Seguimiento Económico</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div aria-labelledby="home-tab" class="tab-pane fade show active" id="home" role="tabpanel">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for proyecto in proyectos %}
                                    <tr>
                                        <td>
                                            {{ proyecto.nombre }}</td>
                                        <td>
                                            {{ proyecto.codigointer }}</td>
                                        <td>
                                            {{ proyecto.proyectoenred }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div aria-labelledby="profile-tab" class="tab-pane fade" id="profile" role="tabpanel">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Código interno</th>
                                    <th scope="col">Código contable</th>
                                    <th scope="col">Tipo de administración</th>
                                    <th scope="col">Público/Privada</th>
                                    <th scope="col">Tipo de financiación</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for proyecto  in proyectos %}
                                    <tr>
                                        <td>
                                            {{ proyecto.nombre }}</td>
                                        <td>
                                            {{ proyecto.codigointer }}</td>
                                        <td>
                                            {{ proyecto.codigocontable }}</td>
                                        {% if proyecto.tipoAdministracion != null %}
                                            <td>
                                                {{ proyecto.tipoAdministracion.nombre}}</td>
                                        {% endif %}
                                        <td>
                                            {{ proyecto.publicoPrivada }}</td>
                                        {% if proyecto.tipoFinanciacion != null %}
                                            <td>
                                                {{ proyecto.tipoFinanciacion.nombre}}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div aria-labelledby="profile-tab" class="tab-pane fade" id="contact_1" role="tabpanel">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre Proyecto</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Código Administración</th>
                                    <th scope="col">Tecnico/a Convocatorias Financiador</th>
                                    <th scope="col">Proyecto en Red</th>
                                    <th scope="col">Entidad Lider</th>
                                    <th scope="col">Entidades Sociales</th>
                                    <th scope="col">Financiador</th>
                                    <th scope="col">Contacto Administración</th>
                                    <th scope="col">Link Convocatorias</th>
                                    <th scope="col">Importe Solicitado</th>
                                    <th scope="col">Fecha Limite Entrega</th>
                                    <th scope="col">Importe Concedido</th>
                                    <th scope="col">Fecha Estimada Resolución</th>
                                    <th scope="col">Fecha Resolución</th>
                                    <th scope="col">Periodo Ejecución</th>
                                    <th scope="col">Fecha Justificación 1</th>
                                    <th scope="col">Fecha Justificación 2</th>
                                    <th scope="col">Fecha Requerimiento 1</th>
                                    <th scope="col">Fecha Requerimiento 2</th>
                                    <th scope="col">Observaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for proyecto  in proyectos %}
                                    <tr>
                                        <td>
                                            {{ proyecto.nombre }}</td>
                                        {% if proyecto.estado != null %}
                                            <td>
                                                {{ proyecto.estado.nombre }}</td>
                                        {% endif %}
                                        <td>
                                            {{ proyecto.codigocontable }}</td>
                                        {% if proyecto.tipoAdministracion != null %}
                                            <td>
                                                {{ proyecto.tipoAdministracion.nombre}}</td>
                                        {% endif %}
                                        <td>
                                            {{ proyecto.tecnicoConvocatoria }}</td>
                                        <td>
                                            {{ proyecto.entidadLider}}</td>
                                        <td>
                                            {{ proyecto.entidadesSociales}}</td>
                                        <td>
                                            {{ proyecto.financiador}}</td>
                                        <td>
                                            {{ proyecto.contactoAdminist}}</td>
                                        <td>
                                            {{ proyecto.linkConvacatoria}}</td>
                                        <td>
                                            {{ proyecto.importeSolicitado}}</td>
                                        <td>
                                            {{ proyecto.fechaLimiteEntrega|date('Y-m-d')}}</td>
                                        <td>
                                            {{ proyecto.importeConcedido}}</td>
                                        <td>
                                            {{ proyecto.fechaEstimadaResolucion|date('Y-m-d')}}</td>
                                        <td>
                                            {{ proyecto.fechaResolucion|date('Y-m-d')}}</td>
                                        <td>
                                            {{ proyecto.periodoEjecucion}}</td>
                                        <td>
                                            {{ proyecto.fechaJustificacion1|date('Y-m-d')}}</td>
                                        <td>
                                            {{ proyecto.fechaJustificacion2|date('Y-m-d')}}</td>
                                        <td>
                                            {{ proyecto.fechaRequi1|date('Y-m-d')}}</td>
                                        <td>
                                            {{ proyecto.fechaRequi2|date('Y-m-d')}}</td>
                                        <td>
                                            {{ proyecto.observaciones}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div aria-labelledby="profile-tab" class="tab-pane fade" id="contact_2" role="tabpanel">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Resumen Proyecto</th>
                                    <th scope="col">Actividades Emblemáticas</th>
                                    <th scope="col">Total Beneficiarias</th>
                                    <th scope="col">Infancia Hombres(5-13)</th>
                                    <th scope="col">Infancia Mujeres(5-13)</th>
                                    <th scope="col">Juventud Hombres(14-30)</th>
                                    <th scope="col">Juventud Mujeres(14-30)</th>
                                    <th scope="col">Adultos Hombres(31-59)</th>
                                    <th scope="col">Adultos Mujeres(31-59)</th>
                                    <th scope="col">Mayores Hombres(>=60)</th>
                                    <th scope="col">Mayores Mujeres(>=60)</th>
                                    <th scope="col">Exclusión Social</th>
                                    <th scope="col">Mayores</th>
                                    <th scope="col">Mujeres</th>
                                    <th scope="col">Niños y niñas</th>
                                    <th scope="col">Jovenes</th>
                                    <th scope="col">Migrantes</th>
                                    <th scope="col">Otros(indicar)</th>
                                    <th scope="col">Desarrollo Rural</th>
                                    <th scope="col">Desarrollo Personal</th>
                                    <th scope="col">Desarrollo Profesional</th>
                                    <th scope="col">Inclusión Digital</th>
                                    <th scope="col">Sensibilización social</th>
                                    <th scope="col">Vivienda Social</th>
                                    <th scope="col">Otros</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for proyecto  in proyectos %}
                                    <tr>
                                        <td>
                                            {{ proyecto.resumen }}</td>
                                        <td>
                                            {{ proyecto.actEmblematicas }}</td>
                                        {% if proyecto.beneficiaria != null %}
                                            <td>
                                                {{ (proyecto.beneficiaria.infanciaHombre + proyecto.beneficiaria.infanciaMujer +
                                                proyecto.beneficiaria.juventudHombre + proyecto.beneficiaria.juventudMujer +
                                                proyecto.beneficiaria.adultosHombre + proyecto.beneficiaria.adultosMujer +
                                                 proyecto.beneficiaria.mayoresHombre + proyecto.beneficiaria.mayoresMujer
                                                )}}
                                            </td>
                                            <td>
                                                {{ proyecto.beneficiaria.infanciaHombre }}</td>
                                            <td>
                                                {{ proyecto.beneficiaria.infanciaMujer }}</td>
                                            <td>
                                                {{ proyecto.beneficiaria.juventudHombre }}</td>
                                            <td>
                                                {{ proyecto.beneficiaria.juventudMujer }}</td>
                                            <td>
                                                {{ proyecto.beneficiaria.adultosHombre }}</td>
                                            <td>
                                                {{ proyecto.beneficiaria.adultosMujer }}</td>
                                            <td>
                                                {{ proyecto.beneficiaria.mayoresHombre }}</td>
                                            <td>
                                                {{ proyecto.beneficiaria.mayoresMujer }}</td>
                                        {% endif %}
                                        {% if proyecto.poblaVulnerable != null %}
                                            <td>
                                                {{ proyecto.poblaVulnerable.exclusionSocial}}</td>
                                            <td>
                                                {{ proyecto.poblaVulnerable.mayores}}</td>
                                            <td>
                                                {{ proyecto.poblaVulnerable.mujeres}}</td>
                                            <td>
                                                {{ proyecto.poblaVulnerable.ninyos}}</td>
                                            <td>
                                                {{ proyecto.poblaVulnerable.jovenes}}</td>
                                            <td>
                                                {{ proyecto.poblaVulnerable.migrantes}}</td>
                                            <td>
                                                {{ proyecto.poblaVulnerable.otros}}</td>
                                        {% endif %}
                                        {% if proyecto.impactoSocial != null %}
                                            <td>
                                                {{ proyecto.impactoSocial.desarrolloRural}}</td>
                                            <td>
                                                {{ proyecto.impactoSocial.desarrolloPersonal}}</td>
                                            <td>
                                                {{ proyecto.impactoSocial.desarrolloProfesional}}</td>
                                            <td>
                                                {{ proyecto.impactoSocial.inclusionDigital}}</td>
                                            <td>
                                                {{ proyecto.impactoSocial.sensibilizacionSocial}}</td>
                                            <td>
                                                {{ proyecto.impactoSocial.insercionLaboral}}</td>
                                            <td>
                                                {{ proyecto.impactoSocial.socioeducativo}}</td>
                                            <td>
                                                {{ proyecto.impactoSocial.sociosanitario}}</td>
                                            <td>
                                                {{ proyecto.impactoSocial.viviendaSocial}}</td>
                                            <td>
                                                {{ proyecto.impactoSocial.otros}}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div aria-labelledby="contact-tab" class="tab-pane fade" id="contact_3" role="tabpanel">
                     <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Importe Condedido</th>
                                       <th scope="col">Pendiente Cobro</th>

                                {% for proyecto  in proyectos %}
                                    {% for _proyecto  in proyecto.progPago %}
                                        {% if _proyecto.idPago.fechaEstimada != null %}
                                        <th scope="col">Fecha Estimada</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Fecha Pago</th>
                                        {% endif %}
                                {% endfor %}
                             {% endfor %}
                                </tr>
                            </thead>
                            <tbody>

                        {% for proyecto  in proyectos %}
                                  <tr>
                                 <td>{{proyecto.importeConcedido}}</td>
                                 <td>Pendiente COBRO</td>

                                        {% if proyecto.progPago is empty  %}
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>

                                        {% endif %}
                            {% for _proyecto  in proyecto.progPago %}

                                        {% if _proyecto.idPago.fechaEstimada != null %}
                                            <td>{{_proyecto.idPago.fechaEstimada|date('Y-m-d')}}</td>
                                            {% endif %}

                                        {% if _proyecto.idPago.cantidad != null %}
                                            <td>{{_proyecto.idPago.cantidad}}</td>

                                        {% endif %}

                                        {% if _proyecto.idPago.fechaPago != null %}
                                            <td>{{_proyecto.idPago.fechaPago|date('Y-m-d')}}</td>

                                        {% endif %}

                            {% endfor %}
                          <!-- proyecto.pendienteCobro -->
                                 </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
