{% extends 'base.html.twig' %}
{% block body %}

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12">
                <h1 class="lead offset-1 mb-5">E-INCLUSIÓN</h1>
                <!--Este campo será una variable-->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab" href="#home" id="home-tab" role="tab">Equipo</a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="profile" aria-selected="false" class="nav-link" data-toggle="tab" href="#profile" id="profile-tab" role="tab">Identificación</a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="contact" aria-selected="false" class="nav-link" data-toggle="tab" href="#contact" id="contact-tab" role="tab">Seguimiento Convocatorias</a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="contact" aria-selected="false" class="nav-link" data-toggle="tab" href="#contact" id="contact-tab" role="tab">Seguimiento Técnico</a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="contact" aria-selected="false" class="nav-link" data-toggle="tab" href="#contact" id="contact-tab" role="tab">Seguimiento Económico</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div aria-labelledby="home-tab" class="tab-pane fade show active" id="home" role="tabpanel">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for proyecto in proyectos %}
                                    <tr>
                                        <td>
                                            {{ proyecto.nombre }}</td>
                                        <td>
                                            {{ proyecto.codigointer }}</td>
                                        <td>
                                            {{ proyecto.proyectoenred }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div aria-labelledby="profile-tab" class="tab-pane fade" id="profile" role="tabpanel">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Código interno</th>
                                    <th scope="col">Código contable</th>
                                    <th scope="col">Tipo de administración</th>
                                    <th scope="col">Público/Privada</th>
                                    <th scope="col">Tipo de financiación</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for proyecto in proyectos %}
                                    <tr>
                                        <td>
                                            {{ proyecto.nombre }}</td>
                                        <td>
                                            {{ proyecto.codigointer }}</td>
                                        <td>
                                            {{ proyecto.codigocontable }}</td>
                                            <td>
                                            {{ proyecto.tipoAdministracion.nombre }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div aria-labelledby="contact-tab" class="tab-pane fade" id="contact" role="tabpanel">...</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}